* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
    }

body {
    font-family: sans-serif;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    font-size: 16px;
    width: 425px;
    line-height: 26px;
    color: #1F3F68;
}

.heading {
    width: 510px;
    font-size: 64px;
    color: #1F3F68;
}

.heading__h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.heading__h3 {
    font-size: 36px;
    text-align: center;
}

.heading__h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.benefit {
    width: 359px;
}

.contacts-information-and-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button__submit {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.map-widget {
    width: 100%;
}

.call-to-action {
    width: 495px;
}

.call-to-action > .heading__h3 {
    width: 340px;
}

.contacts {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}